<html lang="fi">

<meta charset="UTF-8">
<title>Peltoraportti</title>
<head>
</head>
<body id="alku">
<h1>Peltoraportti</h1>
<p>Peltodata-palvelu on tarkoitettu erilaisten analyysien ja algoritmien kehittämiseen ja testaamiseen eri hankkeissa.
  Peltoraportti on koostettu useista eri avoimista datalähteistä (Sentinel satelliitti, Maanmittauslaitos, Ruokavirasto,
  Geologian tutkimuslaitos, Ilmatieteenlaitos sekä yksittäiset muut lähteet). Mikäli tila kuuluu tutkimustiloihin,
  silloin
  raportti sisältää myös tilan omia ei julkisia datoja.
</p>
<p>
  <strong><a id="sisallys"></a>Sisällys:</strong><br/>
  - <a href="#topic0">Perustiedot</a><br/>
  - <a href="#topic1">Sääraportti</a><br/>
  - <a href="#topic2">Vyöhykekartta</a><br/>
  - <a href="#topic3">Ortokuvat</a><br/>
  - <a href="#topic4">Korkeusmalli</a><br/>
  - <a href="#topic5">Maalajit</a><br/>
  - <a href="#topic6">Satokartta</a><br/>
  - <a href="#topic7">Sensorit</a><br/>
  - <a href="#topic8">Maanäytteet</a><br/>
  - <a href="#topic9">Lajikkeet</a><br/>
  - <a href="#topic10">Skannaukset</a><br/>
  - <a href="#topic11">Drone</a>
</p>

<h3><a id="topic0"></a>Perustiedot</h3>
<div>
  Maatila {{ farmId }} koostuu alla olevista peltolohkoista.
</div>
<div>
  {{#if farmFields}}
    <img loading="lazy" src="{{ farmFieldsData }}"/>
  {{/if}}
</div>

<h3><a id="topic1"></a>Sääraportti</h3>

- Lämpökertymä kultakin kesäkuukaudelta<BR>
- Lämpötilan muutos jo ennuste<BR>
- Lähin sääasema<BR>
- Sadekertymä<BR>

{{#if farmWeatherLong }}
  <div>
    <img loading="lazy" src="{{ farmWeatherLongData }}"/>
  </div>
{{/if}}
{{#each farmWeatherYearly }}
  <div>
    <h4>{{ this.year }}</h4>
    <img loading="lazy" src="{{ this.data }}"/>
  </div>
{{/each}}
{{#if farmWeatherTempsum }}
  <div>
    <img loading="lazy" src="{{ farmWeatherTempsumData }}"/>
  </div>
{{/if}}

<h3><a id="topic2"></a>Vyöhykekartta</h3>
<div>
  <p>
    Vyöhykekartta koostuu koko kasvukauden NDVI ja NDMI aineistoista. Nämä datat on kerätty Sentinel-satelliitista.
    Datan avulla voidaan nähdä kunkin vuoden sadon kasvaminen kyseisellä lohkolla. Algoritmin avulla on päätelty, että
    miten moneen eri vyöhykkeeseen kukin peltolohko jakaantuu. Yleensä vyöhykkeitä on 3-5. Mikäli pelto on hyvin
    tasakasvuinen niin pellon vyöhykkeiden määrä vähenee ja erot vyöhykkeiden välillä on pieniä. Mikäli peltolohkon
    sisäinen kasvuvaihtelu on hyvin suurta, niin silloin kasvuvyöhykkeitä on useampi ja niiden välinen ero on suurempi.
  </p>
  <p>
    Vyöhykkeiden avulla:
    - Nähdään pellon sisäinen vaihtelu: huono - keskimääräinen - hyvä kasvualue
    - Paikannetaan sopivat maaperänäytteiden ottopisteet
    - Paikannetaan sopivat sensorien asennuspaikat
  </p>
  {{#each segments}}
    <div>
      <div>Pelto: {{ this.fieldId }} - Vuosi: {{ this.year }} {{ this.type }}</div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
</div>

<h3><a id="topic3"></a>Ortokuvat</h3>
<div>
  <p>
    Ortokuvia on saatavilla useilta eri vuosilta eri vuosikymmeniltä ja osa voi olla lähivuosilta. Ortokuvat on otettu
    lentokoneella. Kuvauksia on toteuttanut Maanmittauslaitos.
  </p>
  <p>
    Ortokuvista voi nähdä:
    - Pellon sisäistä vaihtelua
    - Salaojien sijainnit (harvoja tapauksia)
    - Pellon historiaa (esim. raivaus, tai avo-ojitus)
  </p>
  {{#each orthos}}
    <div>
      <div>Pelto: {{ this.fieldId }} - Vuosi: {{ this.year }} </div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
</div>

<h3><a id="topic4"></a>Korkeusmalli</h3>
<div>
  <p>
    Korkeuskartta perustuu Lidar-kuvauksiin, jotka on tehty vähintään kertaalleen koko Suomen alueelta.
  </p>
  <p>
    Korkeuskartan avulla kullekin pellolle voidaan laskea korkeuskäyrät, etsiä painanteita, arvioida veden
    valumareitit
    ja niiden kertymäkohdat, sekä laskea suunnat ja voimakkuuden kallistumille. Tietojen perusteella voidaan karkeasti
    arvioida esim. pellon lanaustarpeita tai salaojituksen kohteita.
  </p>
  <div>
    {{#each lidars}}
      <div>
        <div>Pelto: {{ this.fieldId }}</div>
        <img loading="lazy" src="{{this.data}}"/>
      </div>
    {{/each}}

  </div>
</div>

<h3><a id="topic5"></a>Maalajit</h3>
<div>
  <p>xxx</p>
  {{#each soiltypes}}
    <div>
      <div>Pelto: {{ this.fieldId}}</div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
</div>


<a href="#alku">Siirry alkuun</a>
</body>
</html>
