
<h1>Peltodata-palvelun kuvaus</h1>


	
<iframe loading="lazy" width="100%" height="400" src="https://embed.windy.com/embed2.html?lat=62.438&amp;lon=25.254&amp;detailLat=61.495&amp;detailLon=23.801&amp;width=650&amp;height=450&amp;zoom=5&amp;level=surface&amp;overlay=wind&amp;product=ecmwf&amp;menu=&amp;message=true&amp;marker=&amp;calendar=now&amp;pressure=&amp;type=map&amp;location=coordinates&amp;detail=&amp;metricWind=default&amp;metricTemp=default&amp;radarRange=-1" frameborder="0"></iframe>


				
<p>
	<strong><a name="sisallys"></a>Sisällys:</strong><br />
	- <a href="#topic0">Käyttöehdot</a><br />
	- <a href="#topic1">Palvelun tarkoitus</a><br />
	- <a href="#topic2">Palaute</a><br />
	- <a href="#topic3">Viljelijöille</a><br />
	- <a href="#topic4">Tutkijoille</a><br />
	- <a href="#topic5">Neuvojille</a><br />
	- <a href="#topic6">Yrityksille</a><br />
	- <a href="#topic7">Datalähteet</a><br />
	- <a href="#topic8">Palvelun rakenne</a><br />
	- <a href="#topic9">Demoraportti maatilasta</a><br />
	- <a href="#topic10">Hankkeet</a></p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic0"></a>Käyttöehdot</h3>
<p>
	
Käyttöehdot löytyvät täältä. Rekisteröinnin yhteydessä käyttäjä on hyväksynyt käyttöehdot. Mikäli esiintyy palvelun väärinkäyttöä, palvelunkehittäjällä on yksipuolinen oikeus sulkea kyseinen käyttäjätili. Palvelunkehittäjällä ei ole missään vaiheessa oikeutta myydä käyttäjän dataa eteenpäin. Dataa ei saa raakadatana julkaista eikä jakaa eteenpäin. Dataa voidaan julkaista kuvina esityksissä, mutta siten ettei sitä voida kohdentaa. Palvelukehittäjä ei vastaa rahallisesti, mikäli esim. datoja häviää palvelusta tai tulee katkoksia. Peltodatassa ei ole käytössä palvelutasoja. 
	</p>
<p>
	&nbsp;</p>


<h3><a name="topic1"></a>Palvelun tarkoitus</h3>
<p>

Peltodata on useissa eri hankkeissa kehitetty palvelu, jonka konepellin alla on aina enemmän kuin mitä päällepäin näkyy. 
Palvelu on tarkoitettu olemaan tutkimuksen esiintuomisen ja kaupallisen toiminnan välimaastossa, auttaen tutkimuksesta tulevien uusien juttujen siirtymistä kaupallisiin palveluihin ja kehittämään datalähtöistä päätöksentekoa maataloudessa. Palvelu auttaa tutkijoita datan keräämisessä ja analysoinnissa sekä tekoälyn algoritmien kehittämisessä. Palvelu auttaa viljelijöitä saamaan avoimista datalähteistä pelloista löytyvää tietoa. Palvelu auttaa euvojien työtä keräämällä yhteen raporttiin avoimista datalähteistä saatavaa tietoa. 

	</p>
<p>
	&nbsp;</p>

<h3><a name="topic2"></a>Palaute</h3>
<p>
	Palvelun kehittämiseen ja käyttöön liittyvistä asioista voi lähettää palautetta osoitteeseen pelto.data@gmail.com.<BR>
	
	Hankkeisiin liittyvissä asioissa voi olla suoraan yhteydessä kyseisen hankkeen vetäjään. 
	
	
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic3"></a>Viljelijöille</h3>
<p>
	tulossa...
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic4"></a>Tutkijoille</h3>
<p>
	tulossa...
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic5"></a>Neuvojille</h3>
<p>
	tulossa...
	</p>
<p>
	&nbsp;</p>
	

<h3><a name="topic6"></a>Yrityksille</h3>
<p>
	tulossa...
	</p>
<p>
	&nbsp;</p>
	
	

<h3><a name="topic7"></a>Datalähteet</h3>
<p>

Hankkeissa on kerätty ja analysoitu datoja hyvin paljon. Alle on listattu niiden eri datalähteitä.
    <BR>
	Avoimet datat<BR>
	- orto<BR>
	- Satelliitti (Sentinel: mm. NDVI ja NDMI)<BR>
	- Lidar<BR>
	- maaperäkartta <BR>
	
	<BR>
	<BR>
	
	Maatilan omat datat<BR>
	- maanäytteet tarkoilla sijaintitiedoilla<BR>
	- hehkutusanalyysi<BR>
	- satokartoitin<BR>
	- salaojakartat<BR>
	- maaskannaukset (Veris, Soiloptix, GPR)<BR>
	- NDVI-skannaukset<BR>
	- Drone (RGB & multispectri)<BR>
	- sääasema<BR>
	- kosteussensori<BR>
	- pohjaveden korkeus<BR>
	- kastelujärjestelmä<BR>
	- vesinäytteet<BR>
	- penetrometrimittaukset<BR>
	- Irtotiheysmittaukset<BR>
	- tensiometri<BR>
	
	
	</p>
<p>
	&nbsp;</p>

<h3><a name="topic8"></a>Palvelun rakenne</h3>
<p>
	- Github-osoitteet (kehitetyt koodit ovat saatavilla eri githubeista:xxx )<BR>
	- Oskari (front-end/back-end kokonaisuus, katso www.oskari.org<BR> 
	- Geoserver (back-end, sisältää mm. postgresql tietokannan)<BR>
	- Docker (mahdollistaa palvelun kehittämisen ja kopioinnin eri käyttöä varten)<BR>
	- Node-red (Datan keräämiseen rajapinnasta)<BR>
	- Rajapinnat (Käytössä mm. Digita-LoraWan. Lisäksi analyysit ja layerit käyttää eri rajapintoja, esim. WMS)<BR>
	- Python (käytössä versio xx. Mahdollista ajaa esim. AI-algoritmeja eri datoille.)<BR>
	
	</p>
<p>
	&nbsp;</p>
	
<h3><a name="topic9"></a>Demoraportti maatilasta</h3>
<p>
	Kustakin suomen maatilasta on tehdä tilakohtainen raportti. Raportti kehittyy eri hankkeiden myötä. Raportti koostuu avoimista datoista ja niistä tehdyistä analyyseista. Palvelun seuraavassa kehitysvaiheessa, maatilan omia datoja voi ladata palveluun, jotka kerätään mukaan raporttiin. Tässä vaiheessa ne ovat hankkeen pilottipelloilta kerättyjä datoja.<BR><BR>
	
	Demoraportti 1 löytyy tästä linkistä. Raportti sisältää: Vyöhykekartat, Sääkartat, lidar-kartat, käytetyt lajikkeet, sekä maatilan omia datoja kuten maanäytteet ja kosteussensoridatat. <BR><BR>
	
	Demoraportti 2 löytyy tästä linkistä. Raportti sisältää: Vyöhykekartat, Sääkartat, lidar-kartat, sekä maatilan omia datoja kuten maanäytteet, kosteussensoridataa.
	

	</p>
<p>
	&nbsp;</p>

<h3><a name="topic10"></a>Hankkeet</h3>
<p>
	Peltodata-palvelua kehitetään osana useita eri hankkeita:
	
	MIKÄ DATA -hanke. https://www.avoinsatakunta.fi/mikadata-hanke/<BR>
	PeltoAI<BR>
	BioEväät<BR>
	eKetju<BR>
	</p>
<p>
	&nbsp;</p>





<p><a href="https://www.avoinsatakunta.fi/wp-content/uploads/2015/11/logoSivuille-300x48.jpg"><img loading="lazy" class="alignnone size-medium wp-image-2560" src="https://www.avoinsatakunta.fi/wp-content/uploads/2015/11/logoSivuille-300x48.jpg" alt="" width="300" height="48"/> </a>

<a href="https://www.avoinsatakunta.fi/wp-content/uploads/2016/12/logo_en.gif.png"><img loading="lazy" class="alignnone wp-image-2470" src="https://www.avoinsatakunta.fi/wp-content/uploads/2016/12/logo_en.gif.png" alt="" width="124" height="162" /></a>


<a href="http://www.avoinsatakunta.fi/wp-content/uploads/2015/11/eu-vipuvoimaa-2014_2020.png"><img loading="lazy" class="alignnone wp-image-2470" src="http://www.avoinsatakunta.fi/wp-content/uploads/2015/11/eu-vipuvoimaa-2014_2020.png" alt="" width="150" height="110" /></a>


<a href="http://www.avoinsatakunta.fi/wp-content/uploads/2013/09/alue.jpg"><img loading="lazy" class="alignnone wp-image-2470" src="http://www.avoinsatakunta.fi/wp-content/uploads/2013/09/alue.jpg" alt="" width="150" height="100" /></a></p>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
.</button>

<p id="demo"></p>


<p>
	<a href="#sisallys">Go to table of contents</a></p>
